<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.taptapvpn.speedproxyvpn">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="com.taptapvpn.speedproxyvpn.AdsClass.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:networkSecurityConfig">

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name="com.taptapvpn.speedproxyvpn.Activity_Class.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.taptapvpn.speedproxyvpn.Activity_Class.Main_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.taptapvpn.speedproxyvpn.Activity_Class.ListOfServers_Activity"
            android:screenOrientation="portrait" />

        <!--// Ads //-->
        <activity
            android:name="com.facebook.ads.AudienceNetworkActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true" />
        <activity
            android:name="com.google.android.gms.ads.AdActivity"
            android:exported="false"
            android:theme="@android:style/Theme.Translucent" />

        <provider
            android:name="com.google.android.gms.ads.MobileAdsInitProvider"
            android:authorities="com.taptapvpn.speedproxyvpn.mobileadsinitprovider"
            android:exported="false"
            android:initOrder="100"
            tools:replace="android:authorities" />

        <meta-data
            android:name="applovin.sdk.key"
            android:value="dRP8mhpapIpzo5WnU4zvdu2f5UU9SlHn_KJq4b-V1eSUOgF_Riew__JFNMxiInKk35DvW0hUz46_fQFQoCg1XH" />
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.facebook.sdk.AutoLogAppEventsEnabled"
            android:value="false" />
        <!--//  //-->

    </application>

</manifest>